body
{
    box-sizing: border-box;
    margin: 0;
}

.check
{
    display: none;
}

.check__label
{
    width: 40px;
    height: 30px;
    position: relative;
    transition: .3s;
    transform: rotate(90deg);
    margin: 45px 0 15px 15px;
    display: inline-block;
}

.check__label:hover
{
    cursor: pointer;
}

.check__line
{
    width: 100%;
    height: 4px;
    background: #3a3434;
    display: inline-block;
    border-radius: 5px;
    transition: .3s;
    position: absolute;
}

.check__line_top
{
    top: 0;
}

.check__line_middle
{
    top: 0;
    bottom: 0;
    margin: auto;
}

.check__line_bottom
{
    bottom: 0;
}

.check:checked + .check__label
{
    transform: rotate(0deg);
}

.list
{
    max-width: 1400px;
    width: 100%;
    margin: 30px auto;
    box-sizing: border-box;
}

.list__item
{
    width: 300px;
    display: inline-block;
    margin: 0 15px 30px;
    box-sizing: border-box;
    border: 1px solid #cacaca;
    transition: .5s;
}

.list__item:hover
{
    box-shadow: 0 4px 10px 2px #969696;
}

.list__block-img
{
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
}

.list__img
{
    width: 300px;
    height: 200px;
    transition: .3s;
}

.list__img:hover
{
    transform: scale(1.05);
}

.list__title
{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px 0;
    padding: 0 15px;
    color: #3a3434;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: .3s;
}

.list__title:hover
{
    color: #585858;
}

.list__brief-information
{
    padding: 0 15px 15px;
    transition: .3s;
}

.list__full-information
{
    height: 0;
    overflow: hidden;
    padding: 0;
    transition: .3s;
}

.list__p
{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #777;
    transition: .3s;
}

.list__p:hover
{
    color: #3a3434;
}

.list__p_margin
{
    margin: 15px 0;
}

.check:checked ~ .list
{
    padding: 0 15px;
}

.check:checked ~ .list .list__item
{
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto 30px;
}

.check:checked ~ .list .list__block-img
{
    width: 100%;
    height: 400px;
}

.check:checked ~ .list .list__img
{
    width: 100%;
    height: 100%;
}

.check:checked ~ .list .list__brief-information
{
    height: 0;
    overflow: hidden;
    padding: 0;
}

.check:checked ~ .list .list__full-information
{
    height: auto;
    overflow: auto;
    padding: 0 15px 15px;
}
